@import 'src/assets/sass/variables/color';

div.img-div {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.img-div img {
  -webkit-transform: translate(-50%);
  margin-left: 100px;
  height: 200px;
  width: 200px;
}

.center-all {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.banner {
  background-color: mat-color($primary);
  border-radius: 4px;
  display: flex;
  align-items: center;
  p {
    color: white;
    margin-top: 15px;
    flex: 1;
  }

  .dismissBanner {
    color: white;
    display: flex;
  }
}
