<div fxLayoutAlign="center" [@routeAnimation]>
  <div class="flex-container" fxLayoutAlign="center" fxFlex="100%" fxLayout='row wrap'>
    <div class="flex-container" fxLayoutAlign="center" fxFlex="100%" fxLayout='row wrap'>
      <div class="mt-2 flex-container" fxFlex="95%" fxFlex.xs="95%" fxFlex.sm="570px" fxFlex.sd="738px"
        fxFlex.md="930px" fxFlex.lg="1200px" fxFlex.xl="1536px">


        <div class="p-3 max-width-special">
          <h1 class="mt-3">Styleguide</h1>

          <p>Css file that implements this styleguide can be found here: <a
              href="https://dev.european-language-grid.eu/cms/sites/default/files/css/external.css" target="_blank"
              rel="noopener">https://dev.european-language-grid.eu/cms/sites/default/files/css/external.css </a></p>

          <h2 class="mt-3 mb-1 showdown-title">Heading styles </h2>
          <p><a href="https://fonts.google.com/specimen/Noto+Sans" target="_blank" rel="noopener">Noto Sans Display</a>
            is used as the primary typeface.</p>
          <p>To achieve consistent font sizes withing different screen sizes and zoom levels, relative font sizes are
            used. As root font size,the size of html element of ELG portal is used and this size is 16px. So, to achieve
            the same size using external.css, html element should have 16px font size.</p>


          <p class="mt-3">All headings use font-weight property of 600 (semibold) but h4, that uses 700 (bold)</p>
          <pre><code>h1, h2, h3, h4, h5 &#123;
  font-weight: 600;
  color: var(--color-grays--offblack);
}</code></pre>

          <h1>Heading 1 <span class="showMore" (click)="toggleVisibility('h1')">show css</span></h1>


          <pre [class.elemInvisible]="!this.isElemInvisible('h1')">
<code>h1 &#123;
  font-size: 2.25rem;
  line-height: 3rem;
}</code>
</pre>

          <!-- <ngx-prism language="html">&lt;h1>Heading 1&lt;/h1></ngx-prism> -->


          <h2 class="mt-5">Heading 2 <span class="showMore" (click)="toggleVisibility('h2')">show css</span></h2>
          <pre [class.elemInvisible]="!this.isElemInvisible('h2')">
<code>h2 &#123;
  font-size: 1.5rem;
  line-height: 2rem;
}</code>
</pre>

          <!-- <ngx-prism language="html">&lt;h2>Heading 2&lt;/h2></ngx-prism> -->

          <h3 class="mt-5">Heading 3 <span class="showMore" (click)="toggleVisibility('h3')">show css</span></h3>
          <pre [class.elemInvisible]="!this.isElemInvisible('h3')">
<code>h3 &#123;
  font-size: 1.125rem;
  line-height: 1.563rem;
}</code>
</pre>

          <!-- <ngx-prism language="html">&lt;h3>Heading 3&lt;/h3></ngx-prism> -->

          <h4 class="mt-5">Heading 4 <span class="showMore" (click)="toggleVisibility('h4')">show css</span></h4>
          <pre [class.elemInvisible]="!this.isElemInvisible('h4')">
<code>h4 &#123;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}</code>
</pre>

          <!-- <ngx-prism language="html">&lt;h4>Heading 4&lt;/h4></ngx-prism> -->

          <h5 class="mt-5">Heading 5 <span class="showMore" (click)="toggleVisibility('h5')">show css</span></h5>
          <pre [class.elemInvisible]="!this.isElemInvisible('h5')">
<code>h5 &#123;
  font-size: 0.875rem;
  line-height: 1.25;
}</code>
</pre>

          <!-- <ngx-prism language="html">&lt;h5>Heading 5&lt;/h5></ngx-prism> -->


          <h2 class="mt-5 mb-1 showdown-title">Text styles </h2>

          <p class="mt-3">All texts use font-weight property of 500 (normal).</p>
          <pre><code>p, .intro, .bigger-text, .biggest-text, .caption &#123;
    color: var(--color-grays--offblack);
    font-weight: 500;
  }</code></pre>

          <p class="intro mt-5">Intro <span class="showMore" (click)="toggleVisibility('intro')">show css</span></p>
          <pre [class.elemInvisible]="!this.isElemInvisible('intro')">
<code>.intro &#123;
  font-size: 1.5rem;
  line-height: 2.25rem;
}</code>
</pre>

          <!-- <ngx-prism language="html">&lt;p class="intro">Intro&lt;/p></ngx-prism> -->
          <p class="biggest-text mt-5">Body text 18px <span class="showMore" (click)="toggleVisibility('body18')">show
              css</span></p>
          <pre [class.elemInvisible]="!this.isElemInvisible('body18')">
<code>.biggest-text &#123;
  font-size: 1.125rem;
  line-height: 2rem;
}</code>
</pre>

          <!-- <ngx-prism language="html">&lt;p class="biggest-text">Body text 18px&lt;/p></ngx-prism> -->
          <p class="bigger-text mt-5">Body text 16px <span class="showMore" (click)="toggleVisibility('body16')">show
              css</span></p>
          <pre [class.elemInvisible]="!this.isElemInvisible('body16')">
<code>.bigger-text &#123;
  font-size: 1rem;
  line-height: 1.5rem;
}</code>
</pre>

          <!-- <ngx-prism language="html">&lt;p class="bigger-text">Body text 16px&lt;/p></ngx-prism> -->

          <p class="mt-5">Body text 14px <span class="showMore" (click)="toggleVisibility('body14')">show css</span></p>
          <pre [class.elemInvisible]="!this.isElemInvisible('body14')">
<code>p &#123;
  font-size: 0.875;
  line-height: 1.25rem;
}</code>
</pre>

          <!-- <ngx-prism language="html">&lt;p>Body text 14px &lt;/p></ngx-prism> -->
          <p class="caption mt-5">Caption <span class="showMore" (click)="toggleVisibility('caption')">show css</span>
          </p>
          <pre [class.elemInvisible]="!this.isElemInvisible('caption')">
<code>.caption &#123;
  font-size: 0.75rem;
  line-height: 1rem;
}</code>
</pre>

          <!-- <ngx-prism language="html">&lt;p class="caption">Caption &lt;/p></ngx-prism> -->

          <hr class="my-5" />


          <h2 class="mt-3 mb-3 showdown-title">Input <span class="showMore" (click)="toggleVisibility('input')">show
              css</span></h2>

          <p>Form input element should be styled wiht <code>mat-input-element</code> class.</p>

          <pre [class.elemInvisible]="!this.isElemInvisible('input')">.mat-input-element &#123;
      background: 0 0;
      border: none;
      outline: 0;
      padding: 0 0.6rem ;
      margin: 0;
      width: 100%;
      max-width: 100%;
      vertical-align: bottom;
      font-size:1rem;
      height: 2.8rem;
      border-radius: var(--border-radius);
      border: 1px solid var(--color-grays--bright);
    }</pre>

          <!-- <ngx-prism language="html">&lt;input class="mat-input-element" type="text" placeholder="input element"></ngx-prism> -->


          <hr class="my-5" />

          <h2 class="mt-3 mb-3 showdown-title">Links</h2>
          <a href="#">Simple link</a>&nbsp;<span class="showMore" (click)="toggleVisibility('link')">show css</span>
          <div [class.elemInvisible]="!this.isElemInvisible('link')">
            <pre>
<code>font-family: 'Noto Sans Display', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #299BA3;
text-decoration: none;
transition: color 0.7s;</code>
</pre>
            link hover
            <pre>
<code>text-decoration: none;
color: var(--accent--dim);</code>
</pre>
          </div>
          <hr class="my-5" />





          <h2 class="mt-3 showdown-title">Buttons</h2>
          <h3 class="mb-2 showdown-title">Flat buttons</h3>
          <a class="mat-flat-button mat-primary">Flat button</a><br>
          <a class="mat-flat-button mat-accent">Flat button</a>&nbsp;<span class="showMore"
            (click)="toggleVisibility('flat-button')">show css</span><br>
          <pre [class.elemInvisible]="!this.isElemInvisible('flat-button')">
<code>transition: background-color 0.7s;
font-weight: 600;
border-radius: 5px;
padding: 10px 116px;
font-size: 16px;
line-height: 24px;
color: white;</code>
</pre>

          <p class="mt-3">To create flat button, you have to add <code>mat-flat-button</code> class and color class to a
            link for appropriate color.<br>Available color classes are:
            <code>color-purple</code> and <code>color-teal</code>
          </p>

          <!-- <ngx-prism language="html">&lt;a class="mat-flat-button color-purple">Example button&lt;/a>
&lt;a class="mat-flat-button color-teal">Example button&lt;/a>
</ngx-prism> -->


          <h3 class="mt-5 mb-1 showdown-title">Outlined buttons</h3>
          <a class="inner-link-outlined--purple">Flat button</a><br>
          <a class="inner-link-outlined--teal">Flat button</a>&nbsp;<span class="showMore"
            (click)="toggleVisibility('outlined-button')">show css</span><br>
          <pre [class.elemInvisible]="!this.isElemInvisible('outlined-button')">
<code>border: 2px solid #299BA3;
border-radius: 5px;
padding: 10px 16px;
margin-top: 20px;
font-weight: 600;
display: inline-block;
color: #299BA3;
cursor: pointer;</code>
</pre>
          <p class="mt-3">To create outlined button, you have to add either <code>inner-link-outlined--purple</code> or
            <code>inner-link-outlined--teal</code> class to a link for appropriate color.
          </p>

          <!-- <ngx-prism language="html">&lt;a class="inner-link-outlined--purple">Example button&lt;/a>
&lt;a class="inner-link-outlined--teal">Example button&lt;/a>
</ngx-prism> -->

          <hr class="my-5" />





          <h2 class="mt-3 mb-2 showdown-title">Spacers</h2>
          <p>There are several helper classes created to be used to achieve unified element spacing throughout the
            portal.</p>
          <p>Formula is like this:<br>
            <b>T</b>ype<b>D</b>imention-<b>V</b>alue<br>
            For example class:<br>
            <code>.mb-7</code><br>
            will give you margin-bottom: 128px;
          </p>

          <p><b>T</b>ype:<br>
            m - margin,<br>
            p - padding</p>

          <p><b>D</b>imention:<br>
            t,r,b,l - top, right, bottom, left</p>

          <div class="row">
            <div class="col-5">
              <table>
                <thead>
                  <tr>
                    <th>Margin</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tr>
                  <td><code>m-0</code></td>
                  <td>0</td>
                </tr>
                <tr>
                  <td><code>m-1</code></td>
                  <td>4px</td>
                </tr>
                <tr>
                  <td><code>m-2</code></td>
                  <td>8px</td>
                </tr>
                <tr>
                  <td><code>m-3</code></td>
                  <td>16px</td>
                </tr>
                <tr>
                  <td><code>m-4</code></td>
                  <td>32px</td>
                </tr>
                <tr>
                  <td><code>m-5</code></td>
                  <td>64px</td>
                </tr>
                <tr>
                  <td><code>m-6</code></td>
                  <td>96px</td>
                </tr>
                <tr>
                  <td><code>m-7</code></td>
                  <td>128px</td>
                </tr>
              </table>
            </div>
            <div class="col-5">
              <table>
                <thead>
                  <tr>
                    <th>Padding</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tr>
                  <td><code>p-0</code></td>
                  <td>0</td>
                </tr>
                <tr>
                  <td><code>p-1</code></td>
                  <td>4px</td>
                </tr>
                <tr>
                  <td><code>p-2</code></td>
                  <td>8px</td>
                </tr>
                <tr>
                  <td><code>p-3</code></td>
                  <td>16px</td>
                </tr>
                <tr>
                  <td><code>p-4</code></td>
                  <td>32px</td>
                </tr>
                <tr>
                  <td><code>p-5</code></td>
                  <td>64px</td>
                </tr>
                <tr>
                  <td><code>p-6</code></td>
                  <td>96px</td>
                </tr>
                <tr>
                  <td><code>p-7</code></td>
                  <td>128px</td>
                </tr>
              </table>
            </div>
          </div>

          <hr class="my-5" />






          <h2 class="mt-3 mb-2 showdown-title">Icons</h2>
          <div class="row">
            <div class="col-5">
              <div class="m-3 elg-icon elg-icon--app-services"></div>
              <div class="m-3 elg-icon elg-icon--b-chat"></div>
              <div class="m-3 elg-icon elg-icon--book-open"></div>
              <div class="m-3 elg-icon elg-icon--book"></div>
              <div class="m-3 elg-icon elg-icon--cloud-forecast"></div>
              <div class="m-3 elg-icon elg-icon--compass"></div>
              <div class="m-3 elg-icon elg-icon--content-delivery"></div>
            </div>
            <div class="col-5">
              <div class="m-3 elg-icon elg-icon--electronic-circuit"></div>
              <div class="m-3 elg-icon elg-icon--machine-learning"></div>
              <div class="m-3 elg-icon elg-icon--network"></div>
              <div class="m-3 elg-icon elg-icon--note-code"></div>
              <div class="m-3 elg-icon elg-icon--show"></div>
              <div class="m-3 elg-icon elg-icon--single-copies"></div>
              <div class="m-3 elg-icon elg-icon--single-copy"></div>
            </div>
          </div>
          <div class="m-3 elg-icon elg-icon--loudspeaker"></div>


          <hr class="my-5" />





          <h2 class="mt-3 mb-2 showdown-title">Colors</h2>
          <p>Short guidelines on when to use which color</p>
          <p class="m-0">Primary</p>
          <p class="m-0"><span class="m-2 ml-3 mr-5 py-2 px-4 color-box color-primary">#EBB447</span>
            <code>--color-primary</code>
          </p>
          <p><span class="m-2 ml-3 mr-5 py-2 px-4 color-box color-primary--grayish">#F8F4ED</span>
            <code>--color-primary--grayish</code>
          </p>

          <p class="mt-3 mb-0">Grays</p>
          <p class="m-0"><span class="m-2 ml-3 mr-5 py-2 px-4 color-box color-grays--white">#FFFFFF</span>
            <code>--color-grays--white</code>
          </p>
          <p class="m-0"><span class="m-2 ml-3 mr-5 py-2 px-4 color-box color-grays--offwhite">#F5F7FA</span>
            <code>--color-grays--offwhite</code>
          </p>
          <p class="m-0"><span class="m-2 ml-3 mr-5 py-2 px-4 color-box color-grays--glossy">#CCD2D8</span>
            <code>--color-grays--glossy</code>
          </p>
          <p class="m-0"><span class="m-2 ml-3 mr-5 py-2 px-4 color-box color-grays--bright text-white">#9CA5B0</span>
            <code>--color-grays--bright</code>
          </p>
          <p class="m-0"><span class="m-2 ml-3 mr-5 py-2 px-4 color-box color-grays--gloomy text-white">#636E7B</span>
            <code>--color-grays--gloomy</code>
          </p>
          <p><span class="m-2 ml-3 mr-5 py-2 px-4 color-box color-grays--offblack text-white">#212932</span>
            <code>--color-grays--offblack</code>
          </p>

          <p class="mt-3 mb-0">Highlights</p>
          <p class="m-0"><span class="m-2 ml-3 mr-5 py-2 px-4 color-box color-highlight--pink text-white">#D65C9D</span>
            <code>--color-highlight--pink</code>
          </p>
          <p class="m-0"><span
              class="m-2 ml-3 mr-5 py-2 px-4 color-box color-highlight--purple text-white">#7C5CD6</span>
            <code>--color-highlight--purple</code>
          </p>
          <p class="m-0"><span class="m-2 ml-3 mr-5 py-2 px-4 color-box color-highlight--mint text-white">#25C58F</span>
            <code>--color-highlight--mint</code>
          </p>
          <p><span class="m-2  ml-3 mr-5 py-2 px-4 color-box color-highlight--teal text-white">#299BA3</span>
            <code>--color-highlight--teal</code>
          </p>

          <p>Example of <code>--color-primary</code> use:</p>

          <!-- <ngx-prism language="html">color: var(--color-primary);</ngx-prism> -->

          <span class="d-block my-5"></span>
        </div>



      </div>
    </div>
  </div>
</div>