@import '~@angular/material/theming';

$base-colors: (
  black: (
    base: black
  ),
  grey: (
    base: rgba(119, 119, 119, 1),
    gallery: rgba(238, 238, 238, 1),
    concrete: rgba(242, 242, 242, 1),
    alabaster: rgba(250, 250, 250, 1)
  ),
  white: (
    base: white
  )
);
$mat-elg-blue: (
  50: #e6eef7,
  100: #c1d4eb,
  200: #98b8dd,
  300: #6e9ccf,
  400: #adebd6,
  500: #299ba3,
  // 500: #144e52,
    // 500: #218187,
    600: #47ebb4,
  700: #299ba3,
  800: #14523d,
  900: #134296,
  A100: #c9daff,
  A200: #96b7ff,
  A400: #6395ff,
  A700: #4983ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
$mat-elg-amber: (
  10: #f8f4ed,
  50: #fdf6e9,
  100: #f9e9c8,
  200: #f5daa3,
  300: #f1cb7e,
  400: #ebd6ad,
  500: #299ba3,
  //#d6ad5c,
    600: #ebb447,
  700: #a37a29,
  800: #523d14,
  900: #dd8c20,
  A100: #ffffff,
  A200: #fff2e1,
  A400: #ffdbae,
  A700: #ffcf95,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);
$primary: mat-palette($mat-elg-amber, 500);
$primary-10: mat-palette($mat-elg-amber, 10);
$accent: mat-palette($mat-elg-blue, 500, 700, 800);
$elg-alternate: #a3296a;
$warn: mat-palette($mat-red);
$mat-colors: (
  red: $mat-red,
  pink: $mat-pink,
  purple: $mat-purple,
  deep-purple: $mat-deep-purple,
  indigo: $mat-indigo,
  blue: $mat-blue,
  light-blue: $mat-light-blue,
  cyan: $mat-cyan,
  teal: $mat-teal,
  green: $mat-green,
  light-green: $mat-light-green,
  lime: $mat-lime,
  yellow: $mat-yellow,
  amber: $mat-amber,
  orange: $mat-orange,
  deep-orange: $mat-deep-orange,
  brown: $mat-brown,
  grey: $mat-grey,
  blue-grey: $mat-blue-grey
);
