<mat-card class="card">
    <mat-toolbar class="card__toolbar">
        <mat-toolbar-row class="toolbar__row">
            <span>
                <mat-icon *ngIf="icon" class="toolbar__icon">{{ icon }}</mat-icon>
                <span class="toolbar__title" [ngClass]="{'toolbar__title--icon': icon}">{{ title | translate }}</span>
            </span>
            <span *ngIf="menuGroups" fxFlex></span>
            <span *ngFor="let group of menuGroups; trackBy: trackByFn">
                <mat-menu #menu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
                    <button *ngFor="let item of group.items; trackBy: trackByFn"
                            mat-menu-item
                            [ngClass]="item.cssClass"
                            (click)="onMenuClick(item.menuClick, item.isDialog)">
                        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
                        <span>{{ item.text }}</span>
                    </button>
                </mat-menu>
                <button mat-icon-button
                        [ngClass]="group.cssClass"
                        matTooltip="{{ group.tooltip | translate }}"
                        matTooltipPosition="below"
                        [matMenuTriggerFor]="menu">
                    <mat-icon>{{ group.icon }}</mat-icon>
                </button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="card__content">
        <ng-content></ng-content>
    </div>
    
</mat-card>
