@import 'src/assets/sass/variables/color';

::ng-deep {
  img {
    max-width: 100%;
    max-height: 100%;
  }

  .center {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  @mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  $animationSpeed: 40s;
  $height: 100px;

  // Animation
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 11));
    }
  }

  // Styling
  .slider {
    height: $height;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before,
    &::after {
      @include white-gradient;
      content: '';
      height: $height;
      position: absolute;
      width: 200px;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      gap: 16px;
      width: calc(250px * 11 * 2);
    }

    .slide {
      height: $height;
      width: 250px;
      app-dynamic, a {
        width: 100%;
        height: 100%;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        max-height: $height;
        max-width: 250px;
      }
    }
  }
}
