@import '../func/color';
@import '../mixin/bem';
@import '../mixin/spacing';

@mixin mat_toolbar() {
  @include el('row') {
    @extend %hard--sides;
    // background-color: #ffffff;
  }

  @include el('icon') {
    color: c(#fff);
    vertical-align: middle;
  }
}
