@import '../func/color';
@import '../mixin/bem';
@import '../mixin/spacing';
@import '../variables/layout';

@mixin mat_card() {
  @include soft(0 !important);

  position: relative;
  background: c(white);

  @include el('toolbar') {
    @include soft($space--md $space--lg);

    height: $header_height - 50px;
    background: transparent;
    color: c(grey);

    @media (min-width: 768px) {
      height: $header_height;
    }
  }

  @include el('content') {
    @include soft($space--md $space--lg $space--lg);

    position: relative;
  }
}
