<div class="search-container">
    <form [formGroup]="myForm" class="searchForm">
        <div class="search-box" fxLayout='column' fxFlex="100%" fxFlex.lg="800px" fxFlex.xl="800px"
            [class.disabled]="!isBrowser">

            <div class="search-box__input-wrapper" fxLayout='row'>
                <div class='search-box__icon'>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.0002 22L15.6562 15.656" stroke="#299ba3" stroke-width="2" stroke-miterlimit="10"
                            stroke-linecap="square" />
                        <path
                            d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18Z"
                            stroke="#299ba3" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" />
                    </svg>
                </div>
                <input [attr.disabled]="isBrowser ? null : '' " matInput (focus)="checkPlaceHolder()"
                    (blur)="checkPlaceHolder()" placeholder="{{ searchPlaceHolder }}"
                    (keydown.enter)="startSearch(myForm.value.searchTerm);" (click)="$event.stopPropagation();"
                    (input)="onSearchChange($event.target.value)" formControlName="searchTerm" name="st"
                    class="py-3 search-box__input" maxlength="250">
                <button mat-button *ngIf="searchInputDirty" matSuffix mat-icon-button aria-label="Clear"
                    (click)="cleanSearch($event)" class="search-box__clear-input">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <a fxLayoutAlign="center center" (click)="startSearch(myForm.value.searchTerm);"
                class="search-box__button button-filled">
                Search</a>
        </div>
    </form>
</div>