@import 'src/assets/sass/variables/color';
//colors
$mdc-theme-primary: mat-color($primary); //ok
$mdc-theme-on-primary: #ffffff;
$mdc-theme-accent: #f98710; //ok
$mdc-theme-on-secondary: mat-color($primary);
$mdc-theme-surface: #fffbfa;
$mdc-theme-on-surface: mat-color($primary);
$mdc-theme-background: #ffffff; //ok
$mdc-theme-on-background: mat-color($primary);

$mdc-textfield-label-color: mat-color($primary);

@import 'src/assets/sass/service-gui-theme/theme/mdc-theme.scss';

// @import "~@material/textfield/mdc-text-field.scss";

body,
p,
* {
  font-family: 'Noto Sans', sans-serif;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: mat-color($primary);
}
